{% extends "base.html" %}

{% block content %}
    <h1>{{ legenda }}</h1>
    <hr>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-12 mb-3">
                {{ form.destino.label(class="form-label") }}
                {{ form.destino(class="form-control") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.data_inicio.label(class="form-label") }}
                {{ form.data_inicio(class="form-control") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.data_fim.label(class="form-label") }}
                {{ form.data_fim(class="form-control") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.preco.label(class="form-label") }}
                {{ form.preco(class="form-control") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.vagas_total.label(class="form-label") }}
                {{ form.vagas_total(class="form-control") }}
            </div>
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('main.pacotes') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}